/* Page Properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    background-color: black;
}

body {
    max-width: 94em;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
}

h1 {
    font-width: 300;
    font-size: 5em;
    line-height: 1.2em;
    float: left;
}

h2 {
    font-size: 2.5em;
    line-height: 1.2;
    padding: 1.5em 0;
}

p {
    font-size: 1.6em;
}

img {
    margin: 2em;
    max-width: calc(100vw - 40px);

}
.header-img {
    display: flex;
    justify-content: center;
}
.hidden-on-desktop {
    display: none;
}

a {
    font-size: 1.6em;
    padding-left: 2em;
}

li {
    list-style: none;
    padding: 3em 0;
}

footer p {
    font-size: 1.4em;
}

/*Section Properties*/
nav {
    display: flex;
    justify-content: flex-end;
}


nav ul {
    display: flex;
}

.main {
    float: left;
    max-width: 55%;
    margin-right: 6em;
    display: flex;
    flex-direction: column;
}

.sub-section {
    max-width: 44%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 15em;
    height: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #social-media-links ul {
    display: flex;
    justify-content: flex-end;
}

footer #social-media-links ul li {
    padding-left: 5em;
    margin-right: 1em;
}
