* {
    font-size: 14px;
}

#moon-btn:hover {
    width: 60px;
    height: 60px;
    transition: width 2s, height 2s;
}

#map {
    width: 100vw;
    height: 60vh;
}

.wx-card {
    width: 350px;
    margin: 0 20px 20px 0;
}

.keep-parent {
    background-color: inherit;
    color: inherit;
}

.night-mode {                                                          /*Night modes???  */
    background-color: #58585e;
    color: #FFFFFF;
}

.dark-nav {
    background-color: #1933a2;
}

.dark-form {
    background-color: #58585e;
}