* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 20px;
}

p {
    padding: 20px;
}

button {
    padding: 20px 40px;
    margin-left: 20px;
    background: #000;
    color: #fff;
    border-radius: 25px;
}




li {
    padding: 1rem;
}

